* {
box-sizing: border-box;
margin: 0;
padding: 0,
}

:root {
  --message-background: #f9efd3
}

.message { 
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  height: 100%;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--message-background);
}

.message h1 {
  font-size: 5rem;
  text-transform: capitalize;
}

.message p {
  font-size: 3rem;
}

.messages-wrapper {
  margin: 5%;
  padding: 4rem;
  border: 1px solid green;
  height: 80vh;
  overflow: scroll;
}

.theme-selector {
  height: 4rem;
  display:flex;
  border: 1px solid black;
}

.color-option {
  border: 1px solid black;
  width: 4rem;
  height: 4rem;
}

.color-option-selected {
  border: 1px solid black;
  width: 4rem;
  height: 4rem;
  border: 3px solid black;

}


